<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Meu Portfólio</title>
</head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-preto fixed-top">
            <div class="container">
                <a class="navbar-brand mx-auto" href="/">
                    <i class="fa-solid fa-code icon-hover"></i>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#skills">Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#projects">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-text" href="#contacts">Contatos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <section id="sobre" class="js-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mt-3 mb-5"> 
                        <div class="title">
                            <h1>Dhavi Fischer</h1>
                            <span>Desenvolvedor Web</span>
                            <p>Desenvolvedor Back-End.</p>
                        </div>
                        
                        <button type="button" class="btn btn-warning rounded-pill me-3">Download CV</button>
                        <button type="button" class="btn btn-outline-warning rounded-pill">Entrar em contato</button>
                    </div>
                    <div class="col-md-3 mt-3"> 
                        <div class="profile">
                            <a href="#" target="_blank">
                                <img src="dhavi-fischer.png" alt="dhavi-fischer">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="about">
                            <h2 class="text-center mb-4">Sobre mim</h2>
                            <p class="text-center">
                                Sou um Desenvolvedor Web com proficiência em uma ampla variedade de tecnologias, incluindo HTML, CSS, PHP, Python, 
                                <br>Java, TypeScript e JavaScript. Minha paixão reside na criação de sistemas inovadores e sou verdadeiramente apaixonado 
                                <br>pelo mundo da programação. Sempre buscando novos desafios e oportunidades para aprimorar minhas habilidades, 
                                <br>estou comprometido em fornecer soluções excepcionais e eficazes por meio da 
                                <br>minha experiência em desenvolvimento web.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section id="skills" class="js-section">
            <div class="skills">
                <div class="container">
                    <h2 class="text-center">Habilidades</h2>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>HTML5/CSS</p>
                                <i class="fa-brands fa-html5 fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>CSS3</p>
                                <i class="fa-brands fa-css3-alt fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>JavaScript</p>
                                <i class="fa-brands fa-square-js fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Angular</p>
                                <i class="fa-brands fa-angular fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Tailwind CSS</p>
                                <i class="fa-brands fa-css3 fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Python</p>
                                <i class="fa-brands fa-python fa-3x mb-2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>PHP</p>
                                <i class="fa-brands fa-php fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Java</p>
                                <i class="fa-brands fa-java fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Docker</p>
                                <i class="fa-brands fa-docker fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>AWS</p>
                                <i class="fa-brands fa-aws fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Laravel</p>
                                <i class="fa-brands fa-laravel fa-3x mb-2"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card text-center text-warning">
                                <p>Vue.js</p>
                                <i class="fa-brands fa-vuejs fa-3x mb-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="projects" class="js-section">
            <div class="container">
                <h2 class="text-center mb-5">Projetos</h2>
                <div class="allprojects">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-project">
                                <img src="/images/eflyer.jpg" style="width: 100%;" alt="Projeto 1">
                                <div class="overlay">
                                    <h3>Batalha Naval</h3>
                                    <div class="icons">
                                        <i class="fa-brands fa-python fa-xl mt-3"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-project">
                                <img src="/images/eflyer.jpg" style="width: 100%;" alt="Projeto 2">
                                <div class="overlay">
                                    <h3>Pizzaria</h3>
                                    <div class="icons">
                                        <i class="fa-brands fa-html5 fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-css3-alt fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-bootstrap fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-vuejs fa-xl mt-3 ms-2"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-project">
                                <img src="/images/eflyer.jpg" style="width: 100%;" alt="Projeto 3">
                                <div class="overlay">
                                    <h3>Serviço de Streaming</h3>
                                    <div class="icons">
                                        <i class="fa-brands fa-html5 fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-css3-alt fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-bootstrap fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-python fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-angular fa-xl mt-3 ms-2"></i>
                                        <i class="fa-brands fa-docker fa-xl mt-3 ms-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        
        <section id="contacts" class="js-section">
            <div class="contacts">
                <div class="container">
                    <h2>Contatos</h2>
                    <div class="icons">
                        <div class="icon">
                            <a href="mailto:seu-email@gmail.com" target="_blank">
                                <div class="box">
                                    <img src="assets/contacts/mail.svg" alt="e-mail">
                                </div>
                            </a>
                            <a href="mailto:seu-email@gmail.com" target="_blank">
                                <p>E-mail</p>
                            </a>
                            <a href="mailto:seu-email@gmail.com" target="_blank">
                                <p>dhavi.fischer@gmail.com</p>
                            </a>
                        </div>
                        <div class="icon">
                            <a href="seu-linkedin" target="_blank">
                                <div class="box">
                                    <img src="assets/contacts/linkedin.svg" alt="linkedin">
                                </div>
                            </a>
                            <a href="seu-linkedin" target="_blank">
                                <p>Linkedin</p>
                            </a>
                            <a href="seu-linkedin" target="_blank">
                                <p>@dhavifischer</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
